
img {
  width: 100%;
  display: block;
  height:auto;
  margin-bottom: 12px;
}

@media (min-width:50px) {
  .header_content{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    padding: 0 20px;
  }
}

@media (min-width:620px) {
  .header_content{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width:920px) {
  .header_content{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: baseline;
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media (min-width:620px) {
  img{
    margin: 0;
  }
}

@media (min-width:50px) {
  
  .pictures{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1300px;
    gap: 10px;
    margin: 100px auto 0;
    display: grid;
    justify-content: center;
  }
}

@media (min-width:620px) {
  
  .pictures{
    padding-left: 60px;
    padding-right: 60px;
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
    gap: 10px;
    margin: 100px auto 0;
    display: grid;
    justify-content: center;
}
}

@media (min-width:920px) {
  
  .pictures{
    padding-left: 110px;
    padding-right: 110px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1300px;
    gap: 10px;
    margin: 100px auto 0;
    display: grid;
    justify-content: center;
}
}

body {
  font-family: 'Karla', sans-serif;
}

.nav {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 60px;
  padding-left: 110px;
  padding-right: 110px;
}

.text {
  display:inline-block;
  grid-template-columns: 1fr 1fr 1fr;
}

.mail {
  text-align: center;
  font-size: 30px;
  padding-top: 100px;
}







